{% load staticfiles %}
<html>
<head>
	<script src="http://code.jquery.com/jquery-3.3.6.js"> </script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" s">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/store.css' %}">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<title>E-Commerce</title>	
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	<ul class="nav navbar-nav navbar-left">
		<li><a class="navbar-brand" href="/">Home</a></li>
		<li><a href="/admin-login">Admin Login</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a class="navbar-brand" href="/cart/">Cart: <b>({{cart_size}})</b> items </a></li>
		<li><a href="/cart/checkout">Checkout</a></li>
	</ul>
	</nav>
	<br>
	<br>
	<div class="page-header">
		<h2>My Store</h2>
	</div>
	<div class="row">
		{% for product in store_items%}
		<div class="col-md-4 well" style="text-align:center">
			<b>{{product.name}}</b>
			<br>
			<p>{{product.description}}</p>
			<br>
			<img src={{product.imglink}}>
			<br>
			<br>
			<span class="label label-primary">{{product.price}}</span>
			<br>
			<br>
			<form method="post">
				{% csrf_token %}
				<input type="submit" class="btn btn-success" value="Add to Cart!">
				<input type="hidden" name="obj_id" value={{product.id}}>
			</form> 
		</div>
		{% endfor%}
	</div>
</body>
</html>